@model List<CodingEventsDemo.Models.EventCategory>

<h1>Coding Events Category</h1>

@if (Model.Count == 0)
{
    <p>No events yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
        </tr>
        @foreach (var evt in Model)
        {
            <tr>
                <td>@evt.ID</td>
                <td>@evt.Name</td>
            </tr>
        }
    </table>
}